@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  font-size: 18px;
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 10px;
  }
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.inner {
  width: 90%;
  margin: 0 auto;
}

section {
  margin-bottom: 5%;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999999;
  text-align: center;
  color: #fff;
}

#loading-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #129DA4;
  font-size: 2rem;
  letter-spacing: 2px;
}

.loading_bg {
  display: none;
}

body.appear .loading_bg {
  display: block;
  content: "";
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform: scaleX(0);
  background-color: #129DA4;
  animation-name: PageAnime;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes PageAnime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.001% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}
#container {
  opacity: 0;
}

body.appear #container {
  animation-name: PageAnimeAppear;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#header {
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  z-index: 1;
  background-color: #fff;
}

.header {
  display: flex;
  padding: 1.5rem 0;
}
.header_text {
  color: #129DA4;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

nav {
  margin: 0 auto;
  width: 30%;
  display: flex;
  justify-content: space-between;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.top_img {
  margin-top: 4%;
  height: 100vh;
  width: 100%;
}

.vision {
  display: flex;
}

.vision_left {
  width: 50%;
}

.vision_left_txt {
  display: flex;
  line-height: 2.5rem;
}
.vision_left_txt small {
  border-left: solid 3px;
  margin-right: 2%;
}
.vision_left_txt p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  letter-spacing: 2px;
}

.vision_img {
  height: auto;
  width: 100%;
  margin-top: 5%;
}

.vision_right {
  width: 50%;
  margin-top: 10%;
  text-align: end;
}

.vision_ttl {
  color: #129DA4;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 5%;
  margin-bottom: 15px;
}
.vision_ttl_lead {
  font-weight: bold;
  line-height: 2rem;
  color: #129DA4;
}

.vision_desc {
  font-size: 1rem;
  line-height: 5rem;
}

.vision_bar {
  margin: 5% 0 5% auto;
  flex-direction: row-reverse;
  width: 35%;
  height: 0.2rem;
  background-color: #129DA4;
}

#service {
  position: relative;
  margin-top: 15%;
  margin-bottom: 10%;
}

.service_ttl {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 5%;
}

.service_img1 {
  width: 50%;
  height: 40vh;
  margin-left: 50%;
}

.service_img2 {
  margin-top: 15%;
  width: 50%;
  height: 40vh;
}

.service_img3 {
  margin-top: 15%;
  margin-left: 50%;
  width: 50%;
  height: 40vh;
}

.text_box1 {
  position: absolute;
  background-color: #fff;
  top: 50%;
  width: 35%;
  height: 40vh;
  box-shadow: 0 0 8px #808080;
  top: 15%;
}

.text_box2 {
  position: absolute;
  background-color: #fff;
  top: 50%;
  width: 35%;
  height: 40vh;
  box-shadow: 0 0 8px #808080;
  top: 50%;
  left: 60%;
}

.text_box3 {
  position: absolute;
  background-color: #fff;
  top: 50%;
  width: 35%;
  height: 40vh;
  box-shadow: 0 0 8px #808080;
  top: 87%;
}

.service_sub_ttl {
  text-align: center;
  margin-top: 10%;
  line-height: 1.8rem;
  font-weight: bold;
}

.service_descript {
  width: 92%;
  margin: auto;
  margin-top: 8%;
  font-size: 0.8rem;
}

.service_descript2 {
  width: 92%;
  text-align: center;
  margin: auto;
  margin-top: 8%;
  font-size: 0.8rem;
}

.service_bg1 {
  top: 10%;
  position: absolute;
  background-color: #f3f3f3;
  left: 22%;
  width: 65%;
  height: 42vh;
  z-index: -1;
}

.service_bg2 {
  position: absolute;
  background-color: #f3f3f3;
  left: 22%;
  width: 65%;
  height: 42vh;
  z-index: -1;
  top: 45%;
}

.service_bg3 {
  position: absolute;
  background-color: #f3f3f3;
  left: 22%;
  width: 65%;
  height: 42vh;
  z-index: -1;
  top: 82%;
}

.service_more1::before {
  content: "";
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 2px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.service_more1 {
  text-decoration: none;
  position: relative;
  width: 18%;
  text-align: center;
  margin: 8% 0 0 75%;
  line-height: 2;
}
.service_more1:hover {
  color: #fff;
}
.service_more1:hover::before {
  bottom: 0;
  height: 100%;
}

.service_more2::before {
  content: "";
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 2px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.service_more2 {
  text-decoration: none;
  position: relative;
  width: 18%;
  text-align: center;
  margin: 8% 0 0 65%;
  line-height: 2;
}
.service_more2:hover {
  color: #fff;
}
.service_more2:hover::before {
  bottom: 0;
  height: 100%;
}

.service_more3::before {
  content: "";
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 2px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.service_more3 {
  text-decoration: none;
  position: relative;
  width: 18%;
  text-align: center;
  margin: 8% 0 0 75%;
  line-height: 2;
}
.service_more3:hover {
  color: #fff;
}
.service_more3:hover::before {
  bottom: 0;
  height: 100%;
}

.about_ttl {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 5%;
  color: #129DA4;
}

#about {
  margin-top: 20%;
}

.about_item {
  width: 50%;
  margin: auto;
  padding-left: 5%;
  display: flex;
  line-height: 3;
  border-bottom: solid 2px;
  border-color: #808080;
}
.about_item span {
  width: 20%;
  margin-right: 10%;
}
.about_item p {
  text-align: left;
}

#faq {
  margin-top: 15%;
}

.faq_ttl {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 5%;
}

/*アコーディオンメニュー*/
.accordion-area {
  list-style: none;
  width: 96%;
  max-width: 900px;
  margin: 0 auto;
}

.accordion-area li {
  margin: 10px 0;
  margin-top: -30px;
}

.accordion-area section {
  border: 1px solid #ccc;
}

.question {
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  padding: 3% 3% 3% 50px;
  transition: all 0.5s ease;
}

.question::before,
.question::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #333;
}

.question::before {
  top: 48%;
  left: 15px;
  transform: rotate(0deg);
}

.question::after {
  top: 48%;
  left: 15px;
  transform: rotate(90deg);
}

.question.close::before {
  transform: rotate(45deg);
}

.question.close::after {
  transform: rotate(-45deg);
}

.answer {
  display: none;
  background: #f3f3f3;
  margin: 0 3% 3% 3%;
  padding: 3%;
}

#contact {
  margin-top: 15%;
}

.contact_ttl {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 5%;
  color: #129DA4;
  margin-bottom: 10%;
}

.contact_item {
  display: flex;
  justify-content: space-between;
}

.contact_form {
  width: 100%;
  margin: 0 auto;
}

.contact_box {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 2%;
}

.contact_box._area {
  align-items: baseline;
}

.contact_form_box1,
.contact_form_box2 {
  height: 5vh;
  width: 50%;
  font-size: 1rem;
}

.contact_txtarea {
  width: 50%;
  height: 30vh;
  font-size: 1rem;
  padding: 5px;
}

.contact_form_ttl {
  width: 20%;
  height: 100%;
  margin-left: 10%;
  font-size: 1.15rem;
  position: relative;
}

.contact_btn {
  width: 12%;
  margin: 0 auto;
  display: block;
  color: #000;
  background: #fff;
  transition: 0.4s;
  cursor: pointer;
  font-size: 1.2rem;
}

.footer_inner {
  width: 100%;
  text-align: center;
  line-height: 5;
  border-top: solid 1px;
}
