@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  font-size: 18px;
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 10px;
  }
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.inner {
  width: 90%;
  margin: 0 auto;
}

section {
  margin-bottom: 5%;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.header_nav {
  width: 100%;
}

.header_nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 20%;
}

.header_nav ul li {
  font-size: 1.1rem;
  padding-left: 8%;
}

.header_nav ul li:last-child {
  border-right: none;
}

.header_nav ul li a:hover {
  color: #129DA4;
  opacity: 0.8;
}

header .drawer {
  visibility: hidden;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999999;
  text-align: center;
  color: #fff;
}

#loading-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #129DA4;
  font-size: 2rem;
  letter-spacing: 2px;
}

.loading_bg {
  display: none;
}

body.appear .loading_bg {
  display: block;
  content: "";
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform: scaleX(0);
  background-color: #129DA4;
  animation-name: PageAnime;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes PageAnime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.001% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}
#container {
  opacity: 0;
}

body.appear #container {
  animation-name: PageAnimeAppear;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#header {
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  z-index: 1;
  background-color: #fff;
}

.header {
  display: flex;
  padding: 1.5rem 0;
}
.header_text {
  color: #129DA4;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.header_nav {
  margin: 0 auto;
  width: 30%;
  display: flex;
  justify-content: space-between;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

header .drawer {
  visibility: hidden;
}

.top_img {
  margin-top: 4%;
  height: 100vh;
  width: 100%;
}

.top_text {
  position: absolute;
  top: 80%;
  left: 6%;
  font-size: 2rem;
  color: #fff;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bold;
  letter-spacing: 0.2rem;
  line-height: 1.5;
}

.vision {
  display: flex;
}

.vision_ttl {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.vision_left {
  width: 40%;
}

.vision_left_txt {
  line-height: 1.8rem;
  border-left: solid 3px;
}

.vision_left_txt1 {
  font-weight: 900;
  letter-spacing: 1px;
}

.vision_left_txt2 {
  font-size: 0.5rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.vision_left_txt2 p2 {
  font-size: 0.8rem;
}

.vision_img {
  height: auto;
  width: 100%;
  margin-top: 5%;
}

.vision_right {
  width: 60%;
  margin-top: 10%;
  text-align: end;
}

.vision_ttl {
  color: #129DA4;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 15px;
  text-align: end;
}
.vision_ttl_lead {
  font-weight: bold;
  line-height: 2rem;
  color: #129DA4;
}

.vision_desc {
  font-size: 0.6rem;
  line-height: 2.5rem;
}

.vision_bar {
  margin: 5% 0 5% auto;
  flex-direction: row-reverse;
  width: 35%;
  height: 0.2rem;
  background-color: #129DA4;
}

#service {
  position: relative;
  margin-top: 15%;
  margin-bottom: 10%;
}

.service_ttl {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.service_img1 {
  width: 50%;
  height: 40vh;
  background-position: center;
  object-fit: cover;
  margin-left: 50%;
}

.service_img2 {
  margin-top: 15%;
  width: 50%;
  height: 40vh;
  background-position: center;
  object-fit: cover;
}

.service_img3 {
  margin-top: 15%;
  margin-left: 50%;
  width: 50%;
  height: 40vh;
  background-position: center;
  object-fit: cover;
}

.text_box1 {
  position: absolute;
  background-color: #fff;
  top: 50%;
  width: 35%;
  height: 40vh;
  box-shadow: 0 0 8px #808080;
  top: 15%;
  font-family: "M PLUS 1p", sans-serif;
}

.text_box2 {
  position: absolute;
  background-color: #fff;
  top: 50%;
  width: 35%;
  height: 40vh;
  box-shadow: 0 0 8px #808080;
  top: 50%;
  left: 60%;
  font-family: "M PLUS 1p", sans-serif;
}

.text_box3 {
  position: absolute;
  background-color: #fff;
  top: 50%;
  width: 35%;
  height: 40vh;
  box-shadow: 0 0 8px #808080;
  top: 87%;
  font-family: "M PLUS 1p", sans-serif;
}

.service_sub_ttl1 {
  text-align: center;
  margin-top: 10%;
  line-height: 1.8rem;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.service_sub_ttl2 {
  text-align: center;
  line-height: 1.2rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.service_descript {
  width: 92%;
  margin: auto;
  margin-top: 8%;
  font-size: 0.8rem;
}

.service_descript2 {
  width: 92%;
  margin: auto;
  margin-top: 8%;
  font-size: 0.8rem;
}

.service_bg1 {
  top: 10%;
  position: absolute;
  background-color: #f3f3f3;
  left: 22%;
  width: 65%;
  height: 42vh;
  z-index: -1;
}

.service_bg2 {
  position: absolute;
  background-color: #f3f3f3;
  left: 22%;
  width: 65%;
  height: 42vh;
  z-index: -1;
  top: 45%;
}

.service_bg3 {
  position: absolute;
  background-color: #f3f3f3;
  left: 22%;
  width: 65%;
  height: 42vh;
  z-index: -1;
  top: 82%;
}

.service_more1::before {
  content: "";
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 2px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.service_more1 {
  text-decoration: none;
  position: relative;
  width: 18%;
  text-align: center;
  margin: 8% 0 0 75%;
  line-height: 2;
}
.service_more1:hover {
  color: #fff;
}
.service_more1:hover::before {
  bottom: 0;
  height: 100%;
}

.service_more2::before {
  content: "";
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 2px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.service_more2 {
  width: 92%;
  text-decoration: none;
  position: relative;
  width: 18%;
  text-align: center;
  margin: 8% 0 0 65%;
  line-height: 2;
}
.service_more2:hover {
  color: #fff;
}
.service_more2:hover::before {
  bottom: 0;
  height: 100%;
}

.service_more3::before {
  content: "";
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 2px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.service_more3 {
  text-decoration: none;
  position: relative;
  width: 18%;
  text-align: center;
  margin: 4% 0 0 78%;
  line-height: 2;
}
.service_more3:hover {
  color: #fff;
}
.service_more3:hover::before {
  bottom: 0;
  height: 100%;
}

.about_ttl {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #129DA4;
}

#about {
  margin-top: 20%;
}

.about_item {
  width: 50%;
  margin: auto;
  padding-left: 5%;
  display: flex;
  line-height: 3;
  border-bottom: solid 2px;
  border-color: #808080;
}
.about_item span {
  width: 20%;
  margin-right: 10%;
}
.about_item p {
  text-align: left;
}

#faq {
  margin-top: 15%;
}

.faq_ttl {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*アコーディオンメニュー*/
.accordion-area {
  list-style: none;
  width: 96%;
  max-width: 900px;
  margin: 0 auto;
}

.accordion-area li {
  margin: 10px 0;
  margin-top: -30px;
}

.accordion-area section {
  border: 1px solid #ccc;
}

.question {
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  padding: 3% 3% 3% 50px;
  transition: all 0.5s ease;
}

.question::before,
.question::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #333;
}

.question::before {
  top: 48%;
  left: 15px;
  transform: rotate(0deg);
}

.question::after {
  top: 48%;
  left: 15px;
  transform: rotate(90deg);
}

.question.close::before {
  transform: rotate(45deg);
}

.question.close::after {
  transform: rotate(-45deg);
}

.answer {
  display: none;
  background: #f3f3f3;
  margin: 0 3% 3% 3%;
  padding: 3%;
}

#contact {
  margin-top: 15%;
}

.contact_ttl {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #129DA4;
  margin-bottom: 10%;
}

.contact_item {
  display: flex;
  justify-content: space-between;
}

.contact_form {
  width: 100%;
  margin: 0 auto;
}

.contact_box {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 2%;
}

.contact_box._area {
  align-items: baseline;
}

.contact_form_box1,
.contact_form_box2 {
  height: 5vh;
  width: 50%;
  font-size: 1rem;
}

.contact_txtarea {
  width: 50%;
  height: 30vh;
  font-size: 1rem;
  padding: 5px;
}

.contact_form_ttl {
  width: 20%;
  height: 100%;
  margin-left: 10%;
  font-size: 1.15rem;
  position: relative;
}

.contact_btn {
  width: 12%;
  margin: 0 auto;
  display: block;
  color: #000;
  background: #fff;
  transition: 0.4s;
  cursor: pointer;
  font-size: 1.2rem;
}

.footer_inner {
  width: 100%;
  text-align: center;
  line-height: 5;
  border-top: solid 1px;
}

@media screen and (max-width: 1024px) {
  nav {
    width: 50%;
  }
  .top_img {
    height: 50vh;
  }
  .vision_left {
    width: 40%;
  }
  .vision_img {
    height: auto;
    width: 100%;
    margin-top: 5%;
  }
  .service_more2 {
    margin: 8% 0 0 75%;
  }
  .text_box1 {
    height: 23%;
  }
  .text_box2 {
    margin-top: 5%;
    height: 23%;
  }
  .text_box3 {
    margin-top: 5%;
    height: 23%;
  }
  .service_img1 {
    height: 20%;
  }
  .service_img2 {
    margin-top: 20%;
    height: 15vh;
  }
  .service_img3 {
    margin-top: 25%;
    height: 15vh;
  }
  .service_bg1 {
    height: 25%;
  }
  .service_bg2 {
    height: 25%;
  }
  .service_bg3 {
    height: 25%;
  }
  .contact_form_box1,
.contact_form_box2 {
    height: 3vh;
  }
  .contact_txtarea {
    height: 15vh;
  }
  .top_text {
    font-size: 0rem;
  }
}
@media screen and (max-width: 768px) {
  .vision_ttl {
    font-size: 1.5rem;
  }
  .vision_ttl_lead {
    line-height: 1.5rem;
    font-size: 0.8rem;
  }
  .vision_desc {
    width: 95%;
    margin-left: 5%;
    font-size: 0.6rem;
    line-height: 2rem;
  }
  .service_sub_ttl {
    line-height: 1rem;
  }
  .contact_form_ttl {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 480px) {
  header .drawer {
    visibility: visible;
    width: 24px;
    position: absolute;
    top: 15px;
    right: 15px;
    border-top: solid 4px #000;
    cursor: pointer;
    z-index: 100;
  }
  .drawer::before,
.drawer::after {
    content: "";
    display: block;
    width: 24px;
    background: #000;
    height: 4px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.5s;
  }
  .drawer::before {
    top: 6px;
  }
  .drawer::after {
    top: 15px;
  }
  .header_nav {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background: #808080;
    text-align: center;
  }
  header .header_nav ul {
    display: block;
    text-align: center;
    margin-left: 0%;
    margin-top: 50%;
  }
  header .header_nav ul li {
    margin: 5% auto;
    border-right: unset;
    padding-left: 0;
  }
  header .header_nav ul li a {
    line-height: 1.5;
    font-size: 1.75rem;
  }
  body.nav-open header .drawer {
    border-top: 0;
  }
  body.nav-open header .drawer::before {
    top: 9px;
    transform: rotate(-45deg);
  }
  body.nav-open header .drawer::after {
    top: 9px;
    transform: rotate(45deg);
  }
  .top_img {
    height: 50vh;
    width: 100%;
    background-position: center;
    object-fit: cover;
  }
  .inner {
    width: 75%;
  }
  .vision {
    display: block;
  }
  .vision_left_txt {
    display: block;
    line-height: 1rem;
    border-left: solid 2px;
  }
  .vision_left_txt1 {
    font-weight: lighter;
    letter-spacing: 0.8px;
    font-size: 14px;
    margin-bottom: 5%;
    padding-top: 3%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .vision_left_txt2 {
    display: flex;
    flex-flow: column;
    font-size: 4px;
    font-weight: lighter;
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin-left: 2%;
  }
  .vision_left_txt2 p2 {
    font-size: 9px;
    margin-left: 8%;
    font-weight: 500;
    margin-top: 2%;
    margin-bottom: 7%;
  }
  .vision_left {
    width: 90%;
  }
  .vision_right {
    width: 90%;
  }
  .vision_ttl {
    text-align: start;
    font-size: 24px;
    letter-spacing: 1px;
  }
  .vision_ttl_lead {
    text-align: start;
    font-size: 10px;
  }
  .vision_desc {
    text-align: start;
    margin-left: 0%;
    line-height: 1rem;
    font-size: 10px;
  }
  .service_ttl {
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 10%;
  }
  .service_sub_ttl {
    margin-top: 6%;
  }
  .service_sub_ttl2 {
    margin-top: -2%;
  }
  .service_descript,
.service_descript2 {
    font-size: 8px;
    width: 80%;
  }
  .service_img1 {
    height: 25vh;
    width: 100%;
    margin-left: 0;
  }
  .service_img2 {
    margin-top: 80%;
    height: 25vh;
    width: 100%;
    margin-left: 0;
  }
  .service_img3 {
    margin-top: 80%;
    height: 25vh;
    width: 100%;
    margin-left: 0;
  }
  .text_box1 {
    top: 21%;
    width: 74.5%;
    margin-left: 0.3%;
    height: 18%;
  }
  .text_box2 {
    top: 59%;
    width: 74.5%;
    left: 0;
    margin-left: 12.7%;
    height: 18.5%;
  }
  .text_box3 {
    top: 97%;
    width: 74.5%;
    left: 0;
    margin-left: 12.7%;
    height: 18.5%;
  }
  .service_more1 {
    margin: 4% 0 0 75%;
  }
  .service_bg1 {
    width: 0;
    height: 0;
  }
  .service_bg2 {
    width: 0;
    height: 0;
  }
  .service_bg3 {
    width: 0;
    height: 0;
  }
  #about {
    margin-top: 70%;
  }
  .about_ttl {
    font-size: 24px;
    margin-bottom: 15%;
  }
  .about_item {
    width: 95%;
    font-size: 8px;
  }
  .faq_ttl {
    font-size: 24px;
    margin-top: 40%;
    margin-bottom: 15%;
  }
  .question {
    font-size: 8px;
  }
  .accordion-area li {
    margin-top: 0;
  }
  .contact_ttl {
    font-size: 24px;
    margin-top: 40%;
    margin-bottom: 15%;
  }
  .contact_box {
    display: block;
  }
  .contact_form_box2 {
    width: 100%;
    margin-top: 2%;
  }
  .contact_form_ttl {
    width: 100%;
    margin-left: 0;
  }
  .contact_txtarea {
    width: 100%;
    margin-top: 2%;
  }
  .contact_btn {
    width: 25%;
    font-size: 12px;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .footer_txt {
    letter-spacing: 2px;
  }
}
