html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.inner {
  width: 90%;
  margin: 0 auto;
}

section {
  margin-bottom: 5%;
}

.header {
  display: flex;
  padding: 1rem 0;
}
.header_text {
  color: #129DA4;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

nav {
  margin: 0 auto;
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.top_img {
  height: 80vh;
  width: 100%;
}

.vision {
  display: flex;
}

.vision_left {
  width: 50%;
}

.vision_left_txt {
  display: flex;
  line-height: 2.5rem;
}
.vision_left_txt small {
  border-left: solid 3px;
  margin-right: 2%;
}

.vision_img {
  height: 55vh;
  width: auto;
  margin-top: 5%;
}

.vision_right {
  width: 50%;
  margin-top: 10%;
  text-align: end;
}

.vision_ttl {
  color: #129DA4;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin-bottom: 15px;
}
.vision_ttl_lead {
  font-weight: bold;
  line-height: 2rem;
  color: #129DA4;
}

.vision_desc {
  font-size: 1rem;
  line-height: 5rem;
}

.bar {
  margin: 5% 0 5% auto;
  flex-direction: row-reverse;
  width: 35%;
  height: 0.2rem;
  background-color: #129DA4;
}
