@use "../setting" as *;

@mixin title {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@mixin serviceBg {
  position: absolute;
  background-color: #f3f3f3;
  left: 22%;
  width: 65%;
  height: 42vh;
  z-index: -1;
}

@mixin imgSize{
  width: 50%;
  height: 40vh;
  background-position: center;
  object-fit: cover;
}

@mixin serviceBox{
  position: absolute;
  background-color: #fff;
  top: 50%;
  width: 35%;
  height: 40vh;
  box-shadow: 0 0 8px #808080;
}